#wrapper
{
	width:960px;
	height:5000px;
	margin-right:auto;
	margin-left:auto;
	background-color:#000000;
}
#headerdiv
{
	background-image:url(../images/HeaderBanner.jpg);
	width:960px;
	height:150px;
}
#topnavbar
{
	margin-top:-15px;
	height:25px;
	width:960px;
	background-color:#008000;
}
nav ul li
{
	text-decoration:none;
	float:left;
	list-style-type:none;
	margin-left:170px;
	font-size:14pt;
	font-size:16pt;
}
a:hover
{
	color:purple;
}
a
{
	text-decoration:none;
	color:red;
}
a:visited
{
	color:blue;
}
#resumediv
{
	width:760px;
	height:1000px;
	background-image:url(../images/resume.jpg);
}