#wrapper
{
	width:960px;
	height:870px;
	margin-right:auto;
	margin-left:auto;
	background-color:#FFFFFF;
	border-color:grey;
	border-style:solid;
	border-width:4px
}
#resumewrapper
{
	width:960px;
	height:1300px;
	margin-right:auto;
	margin-left:auto;
	background-color:#FFFFFF;
	border-color:grey;
	border-style:solid;
	border-width:4px
}
#cosmism
{
	color:red;
	font-size:26pt;
}
#headerdiv
{
	background-image:url(../images/newbanner.jpg);
	width:960px;
	height:192px;
}
#topnavbar
{
	margin-top:-17px;
	height:25px;
	width:960px;
	background-color:grey;
}
nav ul li
{
	text-decoration:none;
	float:left;
	list-style-type:none;
	margin-left:150px;
	font-family:"Century Gothic";
	font-size:16pt;
	font-weight: bold;
}
a:hover
{
	color:white;
}
a
{
	text-decoration:none;
	color:white;
}
a:visited
{
	color:teal;
}
#resumediv
{
	margin-left:100px;
	margin-top:30px;
	width:760px;
	height:1000px;
	background-image:url(../images/resume.jpg);
	border-color:grey;
	border-style:solid;
	border-width:3px
}
#aboutme
{
	font-family:"Century Gothic";
	font-size:16pt;
}