#wrapper
{
	width:960px;
	height:5000px;
	margin-right:auto;
	margin-left:auto;
	background-color:#000000;
}
#resumewrapper
{
	width:960px;
	height:1300px;
	margin-right:auto;
	margin-left:auto;
	background-color:#000000;
}
#cosmism
{
	color:red;
	font-size:26pt;
}
#headerdiv
{
	background-image:url(../images/newbanner.jpg);
	width:960px;
	height:192px;
}
#topnavbar
{
	margin-top:-15px;
	height:25px;
	width:960px;
	background-color:#008000;
}
nav ul li
{
	text-decoration:none;
	float:left;
	list-style-type:none;
	margin-left:150px;
	font-family:"Century Gothic";
	font-size:16pt;
}
a:hover
{
	color:purple;
}
a
{
	text-decoration:none;
	color:red;
}
a:visited
{
	color:blue;
}
#resumediv
{
	margin-left:100px;
	margin-top:30px;
	width:760px;
	height:1000px;
	background-image:url(../images/resume.jpg);
	border-color:red;
	border-style:solid;
	border-width:5px
}